---

---

<div id="education" class="w3-row about-pan">
  <div class="w3-col l1 m1 s1">
    <div class="w3-half">
      <i class="icon-graduation-cap about-ico"></i>
    </div>
    <div class="w3-half about-ico-text">&nbsp;&nbsp;Education</div>
  </div>
  <div class="w3-col l11 m11 s11 about-desc">
    <ul>
      <li>Electrical Engineer</li>
      <li>Magister, Computer Science</li>
    </ul>
  </div>
</div>
