---

---

<div id="education" class="about-pan">
  <div class="">
    <div class="">
      <i class="icon-graduation-cap about-ico"></i>
    </div>
    <div class="about-ico-text">&nbsp;&nbsp;Education</div>
  </div>
  <div class="about-desc">
    <ul>
      <li>Electrical Engineer</li>
      <li>Magister, Computer Science</li>
    </ul>
  </div>
</div>
