---
import Skilltags from "./Skilltags.astro";
---

<div id="experience" class="w3-row about-pan">
  <div class="w3-col l1 m1 s1">
    <div class="w3-half"><i class="icon-briefcase about-ico"></i></div>
    <div class="w3-half about-ico-text">Experience</div>
  </div>
  <div class="w3-col l11 m11 s11 about-desc">
    <Skilltags />
    <ul class="timeline-both-side">
      <li class="">
        <div class="border-line">
          <div class="date-range">2016-2021</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Ruby on Rails developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click1" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job1">
            <h6>contagram</h6>
            <p>Development contagram</p>
            <p class="about-skills">
              ruby, rails, haml, git, postgresql, rspec, capybara, jquery,
              gitlab, slack, responsive design
            </p>
          </div>
        </div>
      </li>
      <li class="opposite-side">
        <div class="border-line">
          <div class="date-range">2011-2015</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Ruby on Rails developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click2" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job2">
            <h6>Journatic LLC</h6>
            <p>Development of web news portals</p>
            <p class="about-skills">
              ruby, rails, haml, git, mysql, nginx, solr, capistrano, jenkins,
              elasticsearch, rspec, capybara, jquery, newrelic, google maps
              integration, amazon ec2, pivotal tracker, tasker.ly, semaphore
              (ci), travis-ci, github, slack, responsive design
            </p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="border-line">
          <div class="date-range">2011</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Ruby on Rails developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click3" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job3">
            <h6>Minerva Group</h6>
            <p>
              Development websites (ClickSaveGive.com, wediditfundraising.com)
            </p>
            <p class="about-skills">
              ruby, rails, haml, git, mysql, nginx, rspec, capybara, jquery,
              github
            </p>
          </div>
        </div>
      </li>
      <li class="opposite-side">
        <div class="border-line">
          <div class="date-range">2008, 2010-2011</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Software developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click4" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job4">
            <h6>Freelancer</h6>
            <p>
              Development of applications (geographic application for using in
              population's statistics and takes of decisions, CRMC app)
            </p>
            <p class="about-skills">
              ubuntu, opengeo, geoserver, kohana, jquery, git, tomcat6, php,
              ushahidi, pmapper, php, mysql, html, css, javascript
            </p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="border-line">
          <div class="date-range">2003, 2006, 2007, 2008, 2010</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Senior Linux Developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click5" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job5">
            <h6>University of Alcal&aacute & IELAT</h6>
            <p>
              Development websites (http://ide.geogra.uah.es,
              http://cartoteca.ielat.es/, http://consultorio.pradpi.org/,
              http://www.portalfio.org, http://gestor.pradpi.org/,
              http://descentralizacion.net/,
              http://www.portalfio.org/teleformacion,
              http://www.geogra.uah.es/firerisk/).
            </p>
            <p class="about-skills">
              linux, centos, fedora, redhat, apache, tomcat6, jsp, geoserver,
              java, mysql, html, css, jquery, joomla, postgresql, postgis, php,
              javascript, ash, tcsh, perl, subversion, trac, maplab, adodb,
              php_mapscript
            </p>
          </div>
        </div>
      </li>
      <li class="opposite-side">
        <div class="border-line">
          <div class="date-range">2008-2010</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Senior Linux developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click6" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job6">
            <h6>Biosoft</h6>
            <p>Development of applications</p>
            <p class="about-skills">
              ruby, rails, postgresql, ajax, css, netbeans, eclipse, churn,
              flay, flog, rcov, reek, roodi, saikuro, newrelic_rpm, tarantula,
              selenium, apache, php, php_mapscript, postgresql, postgis, ajax,
              smarty, css
            </p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="border-line">
          <div class="date-range">2006-2008</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Linux Computing Engineer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click7" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job7">
            <h6>PDVSA</h6>
            <p>Development of applications</p>
            <p class="about-skills">
              subversion, rational software architect, requisite pro, db2,
              clearcase, method composer, bash, zsh, rational ibm tools,
              eclipse, postgresql, c++
            </p>
          </div>
        </div>
      </li>
      <li class="opposite-side">
        <div class="border-line">
          <div class="date-range">2006</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Linux Senior Developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click8" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job8">
            <h6>i-market GmbH</h6>
            <p>Development of websites (http://www.tecno-point.com)</p>
            <p class="about-skills">mysql, debian, axure3, php, subversion</p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="border-line">
          <div class="date-range">2004-2005</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Web Engineer Developer</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click9" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job9">
            <h6>DSIA, CPTM</h6>
            <p>
              Development of websites (http://www.ula.ve, http://unadit.ula.ve/)
            </p>
            <p class="about-skills">
              perl, apache, postfix, mysql, postgresql, sybase, debian, fedora,
              gentoo, php, subversion
            </p>
          </div>
        </div>
      </li>
      <li class="opposite-side">
        <div class="border-line">
          <div class="date-range">2000-2003</div>
        </div>
        <div class="timeline-description">
          <div class="w3-row">
            <div class="w3-twothird">
              <i class="icon-asterisk"></i>
              <strong>Linux/UNIX system & network administrator</strong>
            </div>
            <div class="w3-third a-right">
              <a id="click10" title="Click me!"><i class="icon-cancel"></i></a>
            </div>
          </div>
          <div id="job10">
            <h6>CPTM</h6>
            <p>System and Network Administrator</p>
            <p class="about-skills">
              php, tsch, bash, csh, perl, apache, postfix, linux, solaris, aix,
              beowulf cluster, nfs, samba, sendmail, nis, iptables, maple,
              matlab
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
