---
import Timeline from "./Timeline.astro";
---

<div id="experience" class="about-pan">
  <div class="">
    <div class=""><i class="icon-briefcase about-ico"></i></div>
    <div class="about-ico-text">Experience</div>
  </div>
  <div class="about-desc">
    <Timeline />
  </div>
</div>
