---

---

<footer class="w3-container w3-blue-grey">
  <div class="w3-col creative_logo" style="width:100px">
    <img
      alt="Creative Commons"
      height="31"
      src="../src/images/88x31.png"
      width="88"
    />
  </div>
  <div class="w3-rest">
    <p>
      Creative Commons License This work by Frank Vielma is licensed under a
      Creative Commons Attribution-NonCommercial 3.0 Unported License. Based on
      a work at <strong>fv.cruxaustralis.net</strong>.
    </p>
  </div>
</footer>
