---
import { Image } from 'astro:assets';
import logoCreative from '../../images/88x31.png';
---

<footer class="w3-container w3-blue-grey">
  <div class="w3-col creative_logo" style="width:100px">
    <Image src={logoCreative} alt="A bird sitting on a nest of eggs."/>
  </div>
  <div class="w3-rest">
    <p>
      Creative Commons License This work by Frank Vielma is licensed under a
      Creative Commons Attribution-NonCommercial 3.0 Unported License. Based on
      a work at <strong>fv.cruxaustralis.net</strong>.
    </p>
  </div>
</footer>
