---

---

<header class="w3-container w3-blue-grey header_bg">
  <div class="w3-row">
    <div class="w3-col l8 m8 s6">
      <h1>
        <span class="w3-opennav" id="menu">
          <i class="menu-mobile icon-menu"></i>
        </span>
        <a class="no-underline" href="/" title="Home">FV's Blog</a>
      </h1>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col l10 m10 s10">
      <div id="quote"></div>
    </div>
  </div>
</header>
