---

---

<div id="profile" class="about-pan">
  <div class="profile-icon">
    <div class=""><i class="icon-user-1 about-ico"></i></div>
    <div class="about-ico-text">Profile</div>
  </div>
  <div class="about-desc">
    My name is Frank Vielma, an electrical and computing engineer that works as
    a software developer in a variety of <i class="icon-linux"></i> Linux/UNIX environments.
    At the moment, I'm working on ruby (<i class="icon-heart-empty red"></i>) as
    my primary language programming.
    <div class="social">
      <a
        href="https://www.linkedin.com/in/frankvielma"
        target="_blank"
        title="linkedin" aria-label="linkedin">
        <i class="icon-linkedin-squared" title="linkedin"></i>
        </a>
      <a href="https://twitter.com/frankvielma" target="_blank" title="twitter" aria-label="twitter">
        <i class="icon-twitter-squared" aria-label="twitter"></i>
        </a>
      <a href="https://github.com/frankvielma" target="_blank" title="github" aria-label="github">
        <i class="icon-github-squared" aria-label="github"></i>
      </a>
      <a
        href="https://www.youtube.com/user/vielmafrank/videos"
        target="_blank"
        title="youtube" aria-label="youtube">
        <i class="icon-youtube" aria-label="youtube"></i>
      </a>
    </div>
  </div>
</div>
