---

---

<div id="profile" class="w3-row about-pan">
  <div class="w3-col l1 m1 s1">
    <div class="w3-half"><i class="icon-user-1 about-ico"></i></div>
    <div class="w3-half about-ico-text">&nbsp;&nbsp;&nbsp;&nbsp;Profile</div>
  </div>
  <div class="w3-col l11 m11 s11 about-desc">
    My name is Frank Vielma, an electrical and computing engineer that works as
    a software developer in a variety of <i class="icon-linux"></i> Linux/UNIX environments.
    At the moment, I'm working on ruby (<i class="icon-heart-empty red"></i>) as
    my primary language programming.
    <div class="social">
      <a
        href="https://www.linkedin.com/in/frankvielma"
        target="_blank"
        title="linkedin"><i class="icon-linkedin-squared"></i></a
      >
      <a href="https://twitter.com/frankvielma" target="_blank" title="twitter"
        ><i class="icon-twitter-squared"></i></a
      >
      <a href="https://github.com/frankvielma" target="_blank" title="github"
        ><i class="icon-github-squared"></i></a
      >
      <a
        href="https://www.youtube.com/user/vielmafrank/videos"
        target="_blank"
        title="youtube"><i class="icon-youtube"></i></a
      >
    </div>
  </div>
</div>
