---

---

<div id="skills" class="w3-row about-pan">
  <div class="w3-col l1 m1 s1">
    <div class="w3-half"><i class="icon-wrench about-ico"></i></div>
    <div class="w3-half about-ico-text">Skills</div>
  </div>
  <div class="w3-col l11 m11 s11 about-desc">
    <div id="mysql" class="progressBar" data-value="70" data-skill="Mysql">
      <div data-value="12" data-pos="15"></div>
      <div data-value="5" data-pos="8"></div>
      <div data-value="21" data-pos="4.5"></div>
    </div>
    <div id="php" class="progressBar" data-skill="php">
      <div data-value="30" data-pos="5"></div>
      <div data-value="5" data-pos="5"></div>
    </div>
    <div id="postgresql" class="progressBar" data-skill="PostgreSQL">
      <div data-value="15" data-pos="15"></div>
      <div data-value="5" data-pos="5"></div>
      <div data-value="31" data-pos="19"></div>
    </div>
    <div id="ror" class="progressBar" data-skill="Ruby on Rails">
      <div data-value="60" data-pos="30"></div>
    </div>
    <div id="git" class="progressBar" data-value="" data-skill="git">
      <div data-value="60" data-pos="30"></div>
    </div>
    <ul class="ruler">
      <li>2000</li>
      <li>2002</li>
      <li>2004</li>
      <li>2006</li>
      <li>2008</li>
      <li>2010</li>
      <li>2012</li>
      <li>2014</li>
      <li>2016</li>
      <li>2018</li>
      <li>2020</li>
      <li>2022</li>
      <li>2024</li>
    </ul>
  </div>
</div>
