---
import Layout from "../layouts/About.astro";
import "../styles/all.css";
import Profile from "../components/about/Profile.astro";
import Skills from "../components/about/Skills.astro";
import Experience from "../components/about/Experience.astro";
import Education from "../components/about/Education.astro";
import Footer from "../components/about/Footer.astro";
import Header from "../components/about/Header.astro";
---

<Layout>
  <div id="main">
    <Header />
    <div class="container">
      <Profile />
      <Skills />
      <Experience />
      <Education />
      <a class="back-to-top display-none" href="#">
        <i class="icon-up-circled"></i>
      </a>
    </div>
  </div>
  <script is:inline src="/new.js"></script>
  <Footer />
</Layout>
