---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Frank Vielma" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-adsense-account" content="ca-pub-4919812855416510" />
    <title>Frank Vielma - About</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M10PHB18ET"></script>
    <script is:inline src="/ga4.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
